# 7장 함수

## 7.1 함수 정의와 호출

- 코딩하다 보면 특정 기능을 반복해서 수행해야 할 때가 있음
- 그때마다 같은 기능을 수행하는 코드 를 반복해서 작성한다면 비효율적
- 사용할 수 있는 것이 함수(function)
- 함수는 특정 기능을 수행하는 코드의 묶음
- 함수를 이용하면 같은 기능을 수행하는 코드를 반복해서 작성할 필요가 없음

- 출력을 위한 print() 함수, 데이터 타입을 알기 위한 type() 함수 등이 바로 내장 함수

In [3]:
# 인자도 반환 값도 없는 함수
def my_func():
    print("My first function!")
    print("This is a function.")

In [4]:
# 함수를 정의하고 실행하면 아무 일도 일어나지 않음
# 오류가 발생하지 않고 아무 일도 일어나지 않는다면 함수가 잘 정의된 것
# 만약 오류가 발생한다면 잘못된 곳을 수정한 후 다시 실행

# 함수를 정의한 후에 호출해야 비로소 함수가 실행
# my_func() 함수에는 인자가 없기 때문에 함수명과 소괄호만 입력해 함수를 호출

In [5]:
my_func()

My first function!
This is a function.

In [6]:
# 인자는 있으나 반환 값이 없는 함수
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

In [7]:
my_friend("철수")
my_friend("영미")

철수는 나의 친구입니다.
영미는 나의 친구입니다.

In [9]:
def my_student_info(name, school_ID, phoneNumber):
    print("------------------------")
    print("- 학생이름:", name)
    print("- 학급번호:", school_ID)
    print("- 전화번호:", phoneNumber)

In [10]:
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

------------------------
- 학생이름: 현아
- 학급번호: 01
- 전화번호: 01-235-6789
------------------------
- 학생이름: 진수
- 학급번호: 02
- 전화번호: 01-987-6543

In [12]:
def my_student_info(name, school_ID, phoneNumber):
    print("****************************")
    print("* 학생이름:", name)
    print("* 학급번호:", school_ID)
    print("* 전화번호:", phoneNumber)

In [13]:
my_student_info("현아", "01", "01-235-6789")
my_student_info("진수", "02", "01-987-6543")

****************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
****************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543

In [14]:
# 인자도 있고 반환 값도 있는 함수
def my_calc(x,y):
    z = x*y
    return z

In [15]:
my_calc(3, 4)

12

In [16]:
def my_student_info_list(student_info):
    print("****************************")
    print("* 학생이름:", student_info[0])
    print("* 학급번호:", student_info[1])
    print("* 전화번호:", student_info[2])
    print("****************************")

In [17]:
student1_info = ["현아", "01", "01-235-6789"]
my_student_info_list(student1_info)

****************************
* 학생이름: 현아
* 학급번호: 01
* 전화번호: 01-235-6789
****************************

In [18]:
my_student_info_list(["진수", "02", "01-987-6543"])

****************************
* 학생이름: 진수
* 학급번호: 02
* 전화번호: 01-987-6543
****************************

## 7.2 변수의 유효 범위

In [19]:
a = 5 # 전역 변수

def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)

def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 전역 변수 a =", a)

def func4():
    global a # 함수 내에서 전역 변수 변경 위해 선언
    a = 4 # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

In [20]:
func1() #함수 func1() 호출
func2() #함수 func2() 호출
print("전역 변수 a =", a) # 전역 변수 출력

[func1] 지역 변수 a = 1
[func2] 지역 변수 a = 2
전역 변수 a = 5

In [21]:
func3() #함수 func3() 호출
func4() #함수 func4() 호출
func3() #함수 func3() 호출

[func3] 전역 변수 a = 5
[func4] 전역 변수 a = 4
[func3] 전역 변수 a = 4

## 7.3 람다(lambda) 함수

In [22]:
(lambda x:x**2)(3)

9

In [23]:
mySquare = lambda x: x**2
mySquare(2)

4

In [24]:
mySquare(5)

25

In [25]:
mySimpleFunc = lambda x, y, z : 2*x + 3*y + z
mySimpleFunc(1, 2, 3)

11

## 7.4 유용한 내장 함수

In [26]:
# 정수형으로 변환
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [27]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

In [28]:
# 실수형으로 변환
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [29]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

In [30]:
# 문자형으로 변환
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [31]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

In [32]:
# 리스트, 튜플, 세트형으로 변환
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

In [33]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [34]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] ['abc', 2, 'def', 1]

In [35]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') ('abc', 2, 'def', 1)

### bool 함수

In [36]:
bool(0) # 인자: 숫자 0

False

In [37]:
bool(1) # 인자: 양의 정수

True

In [38]:
bool(-10) # 인자: 음의 정수

True

0 이외의 숫자를 인자로 삼아 bool()함수를 호출하면 모두 True를 반환

In [39]:
bool('a') # 인자: 문자열 'a'

True

In [40]:
bool(' ') # 인자: 빈 문자열(공백)

True

In [41]:
bool('') # 인자: 문자열 없음

False

In [42]:
bool(None) #인자: None

False

In [43]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트

False

In [44]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

True

In [45]:
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플

False

In [46]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

True

In [49]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [50]:
print_name("James")

입력된 이름: James

In [51]:
print_name("")

입력된 이름이 없습니다.

### 최솟값과 최댓값을 구하는 함수

In [52]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [53]:
myStr = 'zxyabc'
[min(myStr), max(myStr)]

['a', 'z']

In [54]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [55]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 합을 구하는 함수

In [56]:
[abs(10), abs(-10)]

[10, 10]

In [57]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [58]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

In [59]:
# 항목의 개수를 구하는 함수
len("ab cd") # 문자열

5

In [60]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [61]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [62]:
len({'a', 'b', 'c', 'd'}) # 세트

4

In [63]:
len({1:"Thomas", 2:"Edward", 3:"Henry"}) # 딕셔너리

3

In [64]:
# 내장 함수의 활용
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0 # 총점 계산을 위한 초깃값 설정
subject_num = 0 # 과목수 계산을 위한 초깃값 설정

for score in scores:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산

average = score_sum / subject_num # 평균(총점 / 과목수) 구하기
print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [65]:
scores = [90, 80, 95, 85] # 과목별 시험 점수
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [66]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95

# 7.5 정리

- 함수를 정의하고 호출하는 방법
- 인자나 반환 값의 유무에 따라 함수를 작성하는 방법과 호출하는 방법
- 지역 변수와 전역 변수의 유효 범위에 대한 개념과 한 줄짜리 함수인 람다 함수
- 유용한 내장 함 수에 대해 알아보고 활용