In [1]:
%%writefile my_first_module.py
# File name: my_first_module.py

def my_function():
    print("This is my first module.")

Writing my_first_module.py

In [5]:
%pycat my_first_module.py

# File name: my_first_module.py

def my_function():
    print("This is my first module.")

In [9]:
%ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 949F-ACE7

 C:\Users\user\sesac\1.python 디렉터리

2025-01-13  오전 11:26    <DIR>          .
2025-01-09  오전 10:22    <DIR>          ..
2025-01-13  오전 11:18    <DIR>          .ipynb_checkpoints
2024-12-31  오후 02:43            25,365 003_Calculator_실습.ipynb
2025-01-02  오후 02:19            46,043 004_Variable_DataType_실습.ipynb
2025-01-06  오후 02:07            28,553 007_Function_실습.ipynb
2025-01-10  오후 03:53            18,195 008_Class_Object_실습.ipynb
2025-01-09  오후 03:07            11,479 009_String_Text_File_processing.ipynb
2025-01-13  오전 11:26             2,253 010_Module.ipynb
2025-01-13  오전 11:21                94 my_first_module.py
               7개 파일             131,982 바이트
               3개 디렉터리  421,104,062,464 바이트 남음

In [11]:
# 만든 모듈(my_first_module)을 불러서 모듈의 함수를 실행
import my_first_module
my_first_module.my_function()

This is my first module.

In [16]:
# 새로운 모듈 생성

%%writefile my_area.py
# File name: my_area.py

PI = 3.14
def square_area(a): # 정사각형의 넓이 반환
    return a ** 2

def circle_area(r): # 원의 넓이 반환
    return PI * r ** 2

UsageError: Line magic function `%%writefile` not found.

In [17]:
import my_area # 모듈 불러오기
print('pi =', my_area.PI) # 모듈의 변수 이용
print('square area =', my_area.square_area(5)) # 모듈의 함수 이용
print('circle area =', my_area.circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [18]:
dir(my_area)

['PI',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'circle_area',
 'square_area']

In [19]:
from my_area import PI # 모듈의 변수 바로 불러오기
print('pi =', PI) # 모듈의 변수 이용

pi = 3.14

In [21]:
from my_area import square_area
from my_area import circle_area

print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area =', circle_area(2))

square area = 25
circle area = 12.56

In [22]:
from my_area import PI, square_area, circle_area

print('pi =', PI) # 모듈의 변수 이용
print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area =', circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [23]:
from my_area import *

print('pi =', PI) # 모듈의 변수 이용
print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area =', circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [31]:
%%writefile my_module1.py
# File name: my_module1.py

def func1():
    print("func1 in my_module1 ")

def func2():
    print("func2 in my_module1 ")

Overwriting my_module1.py

In [32]:
%%writefile my_module2.py
# File name: my_module2.py

def func2():
    print("func2 in my_module2 ")

def func3():
    print("func3 in my_module2 ")

Overwriting my_module2.py

In [34]:
from my_module1 import *
from my_module2 import *

func1()
func2()
func3()

func1 in my_module1
func2 in my_module2
func3 in my_module2

In [35]:
from my_module2 import *
from my_module1 import *
func1()
func2()
func3()

func1 in my_module1
func2 in my_module1
func3 in my_module2

In [36]:
import my_area as area # 모듈명(my_area)에 별명(area)을 붙임

print('pi =', area.PI) # 모듈명 대신 별명 이용
print('square area =', area.square_area(5))
print('circle area =', area.circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [37]:
%%writefile my_module_test1.py
# File name: my_module_test1.py

def func(a):
    print("입력 숫자:", a)

func(3)

Writing my_module_test1.py

In [38]:
%run my_module_test1.py

입력 숫자: 3

In [39]:
import my_module_test1

입력 숫자: 3

In [40]:
%%writefile my_module_test2.py
# File name: my_module_test2.py

def func(a):
    print("입력 숫자:",a)

if __name__ == "__main__":
    print("모듈을 직접 실행")
    func(3)
    func(4)

Writing my_module_test2.py

In [41]:
%run my_module_test2.py

모듈을 직접 실행
입력 숫자: 3
입력 숫자: 4

In [42]:
import my_module_test2

In [43]:
%%writefile my_module_test3.py
# File name: my_module_test3.py
def func(a):
    print("입력 숫자:",a)

if __name__ == "__main__":
    print("모듈을 직접 실행")
    func(3)
    func(4)
else:
    print("모듈을 임포트해서 실행")

Writing my_module_test3.py

In [44]:
%run my_module_test3.py

모듈을 직접 실행
입력 숫자: 3
입력 숫자: 4

In [45]:
import my_module_test3

모듈을 임포트해서 실행

In [46]:
import random
random.random()

0.08944420392653685

In [47]:
import random

dice1 = random.randint(1,6) # 임의의 정수가 생성됨
dice2 = random.randint(1,6) # 임의의 정수가 생성됨

print('주사위 두 개의 숫자: {0}, {1}'.format(dice1, dice2))

주사위 두 개의 숫자: 6, 5

In [50]:
import random

random.randrange(0,11,2)

6

In [51]:
import random

num1 = random.randrange(1, 10, 2) # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0,100,10) # 0 ~ 99(100-1) 중 임의의10의 단위 숫자 선택
print('num1: {0}, num2: {1}'.format(num1,num2))

num1: 7, num2: 30

In [52]:
import random

menu = ['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자']
random.choice(menu)

'된장찌개'

In [53]:
import random

random.sample([1, 2, 3, 4, 5], 2) # 모집단에서 두 개의 인자 선택

[5, 3]

In [54]:
# 날짜를 표현하는 date 클래스
import datetime

set_day = datetime.date(2021, 8, 2)
print(set_day)

2021-08-02

In [55]:
# 연도, 월, 일을 각각 구하려면 date 클래스의 속성(year, month, day)을 이용
print('{0}/{1}/{2}'.format(set_day.year,set_day.month,set_day.day ))

2021/8/2

In [56]:
import datetime

day1 = datetime.date(2021, 4, 1)
day2 = datetime.date(2021, 7, 10)
diff_day = day2 - day1
print(diff_day)

100 days, 0:00:00

In [60]:
print(type(day1))
print(type(diff_day))

<class 'datetime.date'>
<class 'datetime.timedelta'>

In [59]:
type(diff_day)

datetime.timedelta

In [61]:
# 앞의 두 날짜차이 계산에서 날짜만출력하려면 timedelta 클래스 속성인 days를 이용
print("** 지정된 두 날짜의 차이는 {}일입니다. **".format(diff_day.days))

** 지정된 두 날짜의 차이는 100일입니다. **

In [62]:
# datetime 모듈의 date 클래스에는 오늘 날짜를 반환하는 클래스 메서드인 today()를 제공
import datetime
print(datetime.date.today())

2025-01-13

In [63]:
# 오늘과 특정 날짜의 차이를 알려면 빼기 연산을 수행
import datetime

today = datetime.date.today()
special_day = datetime.date(2020, 12, 31)
print(special_day - today)

-1474 days, 0:00:00

In [64]:
# tine 클래스에서 객체를 생성할 때 시, 분, 초를 인자로 입력
import datetime

set_time = datetime.time(15, 30, 45)
print(set_time)

15:30:45

In [65]:
# 날짜와 시간을 모두 다룰 수 있는 datetime 클래스
import datetime

set_dt = datetime.datetime(2021, 8, 2, 10, 20, 0)
print(set_dt)

2021-08-02 10:20:00

In [66]:
# 현재 시각을 구하려면 datetime 클래스의 클래스 메서드인 now()를 이용
import datetime

now = datetime.datetime.now()
print(now)

2025-01-13 12:08:31.977832

In [67]:
print("Date & Time: {:%Y-%m-%d, %H:%M:%S}".format(now))

Date & Time: 2025-01-13, 12:08:31

In [68]:
print("Date: {:%Y, %m, %d}".format(now))
print("Time: {:%H/%M/%S}".format(now))

Date: 2025, 01, 13
Time: 12/08/31

In [69]:
# 'date' 클래스의 객체와 마찬가지로 datetime 클래스의 객체도 빼기 연산을 할 수 있음
now = datetime.datetime.now()
set_dt = datetime.datetime(2020, 12, 1, 12, 30, 45)

print("현재 날짜 및 시각:", now)
print("차이:", set_dt - now)

현재 날짜 및 시각: 2025-01-13 12:10:13.874336
차이: -1504 days, 0:20:31.125664

In [70]:
from datetime import date, time, datetime

print(date(2021, 7, 1))
print(date.today())
print(time(15, 30, 45))
print(datetime(2021, 2, 14, 18, 10, 50))
print(datetime.now())

2021-07-01
2025-01-13
15:30:45
2021-02-14 18:10:50
2025-01-13 12:11:08.653751

In [71]:
import calendar
print(calendar.calendar(2025))

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [73]:
# 달의 출력 양식을 변경하고 싶다면 calendar()함수에 'm=숫자' 인자를 추가
print(calendar.calendar(2025, m=4))

                                               2025

      January                   February                   March                     April
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30      28 29 30
                                                    31

        May                       June                      July                     August
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6                   1  2  3
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30 31
                          30

     September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
29 30                     27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [74]:
# 특정 월 표시
print(calendar.month(2025,9))

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [75]:
calendar.monthrange(2025,2)

(calendar.SATURDAY, 28)

In [76]:
calendar.firstweekday()

0

In [77]:
# 시작 요일 지정
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2025,8))

    August 2025
Su Mo Tu We Th Fr Sa
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [78]:
# 해당 날짜의 요일을 반환
print(calendar.weekday(2025, 8, 1))

4

In [80]:
# isleap(year) 함수를 이용해 어떤 연도가 윤년인지를 확인
print(calendar.isleap(2020))
print(calendar.isleap(2025))

True
False