# 4장 변수와 자료형
## 4.1 변수
- 자료를 넣을 수 있는 상자인 변수와 파이썬에서 지원하는 자료형(데이터 타입)

In [1]:
12340 * 1/2

6170.0

In [2]:
12340 * 1/4

3085.0

In [3]:
12340 * 1/5

2468.0

- 매번 연산할 때마다 12340을 반복
- 간단한 연산에서도 숫자를 반복해서 입력해야 할 경우 숫자 12340을 어떤 상자에 넣고 이름을 붙인 후 사용

숫자와 같은 자료(data)를 넣을 수 있는 상자를 변수(variable)라 하고 상자에 붙인 이름을 변수명(혹은 변수 이름)이라고 함

- 실제로 변수는 컴퓨터의 임시 저장 공간(메모리)에 저장됨
- 파이썬에서는 등호를 사용해서 변수에 자료를 할당함
- 변수명 = data 와 같은 형태
- 자료가 숫자라면 data에 숫자를 쓰면 되고 문자열이면 문자열 쓰면 됨
- 변수명과 등호, 등호와 data 사이의 공백은 무시

In [4]:
abc = 12340
print(abc)

12340

- 변수에 자료를 할당한 경우 print(변수명)으로 변수명에 할당한 값을 출력할 수 있음
- print(변수명)을이용하지 않더라도 변수명을 실행해 변수에 할당된 값을 출력할 수도 있음

In [5]:
abc

12340

In [6]:
print(abc*1/2)
print(abc*1/4)
print(abc*1/5)

6170.0
3085.0
2468.0

변수명 작성 규칙
- 문자, 숫자, 밑줄 기호
- 숫자로 시작할 수 없음
- 대소문자 구분
- 공백 포함 금지
- 밑줄 이외의 기호는 사용 안 됨
- 예약어는 변수명으로 이용할 수 없음

상수
- 프로그래밍 언어에서 어떤 숫자를 변수에 할당한 후에 프로그램이 끝날 때까지 그 변수의 값을 변경하지 않고 사용하는 경우

## 4.2 문자열
### 문자열 만들기
- 문자열은 문자의 나열을 의미, 따옴표로 둘러싸인 문자의 집합

In [7]:
print('String test')

String test

In [8]:
string1 = 'String test1'
print(string1)

String test1

In [9]:
type(string1)

str

In [12]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

In [14]:
long_string1 = '''[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.'''
long_string2 = """[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다."""
print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

### 문자열 다루기
더하기 연산자랑 곱하기 연산자 사용 가능

In [15]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [17]:
print(a*3)

Enjoy Enjoy Enjoy

## 4.3 리스트
### 리스트 만들기
- 대괄호 이용
- 숫자, 문자열, 불, 리스트, 튜플, 세트, 딕셔너리 넣을 수 있음
- 데이터 타입은 다 달라도 됨

In [18]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 90,95,85,80
student1 = [90,95,85,80]
student1

[90, 95, 85, 80]

In [19]:
type(student1)

list

- 리스트에서 각 항목은,변수명[i]로 지정 할 수 있음
- 여기서 i를 리스트 변수의 인덱스(index)라고 함
- 만약 N개의 항목이 있는 리스트 타입의 데이터가 있다면 인덱스 i의 범위는 0부터 'N - 1'까지 임
- 첫 번째 요소는 '변수명[0]',두 번째 요소는 '변수명[1],세 번째 요소는 변수명[2],
- 인덱스의 숫자가 증가하다가 마지막 요소는 '변수명[N-1]'이 됨
- 마지막 항목은 '변수명 [-1]'로도 지정할 수도 있음

In [20]:
student1[0]

90

In [21]:
student1[1]

95

In [22]:
student1[-1]

80

리스트의 특정 항목을 변경하려면 '변수명[i] = new_data'를 이용해 리스트 변수에서 인덱스 i 항목을
new_data로 변경할 수 있음
- 리스트 변수 student1 에서 두 번째 항목을 새로운 데이터로 할당하고 리스트 변수를 출력

In [23]:
student1[1] = 100 # 두 번째 항목에 새로운 데이터 할당
student1

[90, 100, 85, 80]

리스트에 문자열 입력하기

In [24]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
myFriends

['James', 'Robert', 'Lisa', 'Mary']

In [25]:
myFriends[2]

'Lisa'

In [26]:
myFriends[3]

'Mary'

In [28]:
myFriends[-1]

'Mary'

In [30]:
mixedList = [0, 2, 3.14, 'python', 'program', True, myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['James', 'Robert', 'Lisa', 'Mary']]

### 리스트 다루기
리스트 더하기와 곱하기
- 문자열과 마찬가지로 리스트도 더하기와 곱하기를 할 수 있음
- 더하기는 두 리스트를 연결하고 곱하기는 리스트를 곱한 수만큼 반복함

In [31]:
list_con1= [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2 # 리스트 연결
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list_con1= [1,2,3,4]
list_con = list_con1 * 3 # 리스트 반복
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

리스트 중 일부 항목 가져오기
- 인덱스 범위 지정해 리스트 중 일부를 가져올 수 있음
- 리스트 [ i_start : i_end ]
- 리스트 [ i_start : i_end : i_step ]

- i_start, i_end, i_step은 각각 인덱스의 시작, 끝,스템(증가 단계)
- 인텍스의 범위를 지정하면 ’i_start'에서 ’i_end - 1'까지의 리스트를 반환
- i_start를 생략하면 인덱스는 0 으로 간주하고 i_end를 생략하면 인덱스는 마지막이라고 간주

In [33]:
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

리스트에서 항목 삭제하기
- 리스트에서 인덱스가 i인 항목을 삭제하려면 ‘del 리스트[i]’를 이용

In [34]:
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

리스트에서 항목의 존재 여부 확인하기

In [35]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1)

True
False

append()는 리스트의 맨 끝에 새로운 항목을 추가

In [36]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

insert()
- insert() 메서드는 리스트의 원하는 위치에 데이터를 삽입 하는데 이용
- 자료형.insert(i,data)
- 항목의 위치를 나타내는 인덱스 i에 data가 삽입
- 이때 기존의 인덱스가 i 이상인 항목은 인덱스가 1씩 증가하면서 이동

In [37]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

extend()메서드는 리스트의 맨 끝에 여러 개의 항목을 추가하는데 이용

In [38]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

## 4.4 튜플
- 튜플 데이터는 한 번 입력(흑은 생성)하면 그 이후에는 항목을 변경할 수가 없음

In [39]:
tuple1 = (1,2,3,4)
tuple1

(1, 2, 3, 4)

In [40]:
type(tuple1)

tuple

In [41]:
tuple1[1]

2

In [42]:
tuple2 = 5,6,7,8
print(tuple2)

(5, 6, 7, 8)

- 소괄호 없이도 튜플 생성 가능

In [43]:
type(tuple2)

tuple

In [44]:
tuple3 = (9,) # 반드시 쉼표(',') 필요
tuple4 = 10, # 반드시 쉼표(',') 필요
print(tuple3)
print(tuple4)

(9,)
(10,)

소괄호가 있거나 없거나 모두 콤마를 반드시 입력

### 튜플 다루기
- 한번 생성된 튜플은 요소를 변경하거나 삭제할 수 없음
- 튜플의 이런 특성으로 튜플은 한 번 생성한 후에 요소를 변경할 필요가 없거나 변경할 수 없도록 하고 싶
을 때 주로 이용

In [47]:
tuple5 = (1,2,3,4)
tuple5[1] = 5 # 한번 생성된 튜플의 요소는 변경되지 않음

TypeError: 'tuple' object does not support item assignment

In [48]:
del tuple5[1] # 한번 생성된 튜플 요소는 삭제되지 않음

TypeError: 'tuple' object doesn't support item deletion

- 튜플의 요소를 변경하거나 삭제하는 메서드는 튜플에서 이용할 수 없지만
- index() 메서드나 count() 메서드처럼 요소를 변경하지 않는 메서드는 튜플에서도 사용할 수 있음

- index() 메서드는 인자와 일치하는 첫 번째 항목의 위치를 반환하고
- count() 메서드는 인자와 일치하는 항목의 개수를 반환

In [50]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')

2

In [51]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a')

3

## 4.5 세트
- 세트는 수학의 집합 개념을 파이썬에서 이용할 수 있도록 만든 데이터 타입
- 세트가 리스트와 튜플과 다른 점은 데이터의 순서가 없고 데이터를 중복해서 쓸 수 없다는 것
- 세트는 리스트에서 사용했던 메서드 외에 집합의 기본이 되는 교집합,합집합, 차집합을 구하는 메서드
를 사용할 수 있음

In [52]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

### 세트의 교집합, 합집합, 차집합 구하기
- 교집합(intersection): 두 집합 A와 B가 았을 때 집합 A에도 속하고 집합 B에도 속하는 원소로 이뤄진 집합.
- 합집합(union): 두 집합 A와 때 있을 때 집합 A에 속하거나 집합 답에 속하는 원소로 이뤄진 집합.
- 차집합(difference): 두 집합 A와 B가 있을 때 집합 A에는 속하고 집합 B에는 속하지 않는 원소로 이뤄진
집합

- 교집합,합집합,차집합을 위한 메서드는 각각 intersection(), union(), difference()

In [53]:
A = {1, 2, 3, 4, 5} # Set A
B = {4, 5, 6, 7, 8, 9, 10} # Set B
A.intersection(B) # 집합 A에 대한 집합 B의 교집합(A∩B)

{4, 5}

In [54]:
A.union(B) # 집합 A에 대한 집합 B의 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
A.difference(B) # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

In [56]:
A = {1, 2, 3, 4, 5} # Set A
B = {4, 5, 6, 7, 8, 9, 10} # Set B
A & B # 집합 A에 대한 집합 B의 교집합(A∩B)

{4, 5}

In [57]:
A | B # 집합 A에 대한 집합 B의 합집합(A∪B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
A - B # 집합 A에 대한 집합 B의 차집합(A-B)

{1, 2, 3}

### 리스트, 튜플, 세트 간 타입 변환

In [59]:
a = [1,2,3,4,5]

In [60]:
type(a)

list

In [61]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [62]:
type(b)

tuple

In [63]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [64]:
type(c)

set

In [65]:
list(b)

[1, 2, 3, 4, 5]

In [66]:
list(c)

[1, 2, 3, 4, 5]

## 4.6 딕셔너리

In [68]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스": "베른", "호주":"멜버른", "덴마크": "코펜하겐"}
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

In [69]:
type(country_capital)

dict

In [70]:
country_capital["영국"]

'런던'

In [71]:
dict_data1 = {1:"버스", 3: "비행기", 4:"택시", 5: "자전거"}
dict_data1

{1: '버스', 3: '비행기', 4: '택시', 5: '자전거'}

In [72]:
dict_data1[3]

'비행기'

dict_data1[3]에서 입력된 3은 딕셔너리 키이지, 리스트의 인덱스처럼 위치를 뜻하는 3이 아님

In [73]:
# 키와 값이 모두 숫자인 딕셔너리
dict_data2 = {1:10, 2: 20, 3:30, 4: 40, 5:50}
print(dict_data2)
print(dict_data2[4])

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}
40

In [74]:
# 키가 문자열이고 값은 리스트인 딕셔너리
dict_data3 = {"list_data1":[11,12,13], "list_data2": [21,22,23]}
print(dict_data3)
print(dict_data3["list_data2"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[21, 22, 23]

In [76]:
# 다양한 형태의 키와 값을 갖는 딕셔너리
mixed_dict = {1:10, 'dict_num': {1:10, 2:20}, "dict_list_tuple": {"A":[11,12,13], "B":(21,22,23)}}
mixed_dict

{1: 10,
 'dict_num': {1: 10, 2: 20},
 'dict_list_tuple': {'A': [11, 12, 13], 'B': (21, 22, 23)}}

### 딕셔너리 다루기
생성된 딕셔너리에 새로운 키와 값을 추가하거나 기존의 값을수정하려면 ’dict_variable[key] = value' 형태
로 입력

In [77]:
country_capital["독일"]= "베를린"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [79]:
# 기존 키의 값을 다른 값으로 변경하려면 기존 키를 지정하고 새로운 값을 할당
country_capital["호주"]= "캔버라"
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

딕셔너리에서 데이터 삭제하기

In [80]:
del country_capital["덴마크"]
country_capital

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

딕셔너리 메서드 활용하기
- 딕셔너리 메서드는 '딕셔너리데이터.메서드이름()'과 같은 형태로 사용할 수 있음

In [81]:
fruit_code = {"사과":101, "배":102, "딸기":103, "포도":104, "바나나":105}

In [82]:
print(fruit_code.keys())

dict_keys(['사과', '배', '딸기', '포도', '바나나'])

In [83]:
print(fruit_code.values())

dict_values([101, 102, 103, 104, 105])

In [84]:
print(fruit_code.items())

dict_items([('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)])

- 딕셔너리 메서드인 keys(), values(), items()는 각각 dict_keys, dict_values, dict_iterns 라는 데이터 형태로
값을 반환
- 딕셔너리는 리스트로 변환해서 데이터를 처리하면 편리한 경우가 있음

In [85]:
list(fruit_code.keys())

['사과', '배', '딸기', '포도', '바나나']

In [86]:
list(fruit_code.values())

[101, 102, 103, 104, 105]

In [87]:
list(fruit_code.items())

[('사과', 101), ('배', 102), ('딸기', 103), ('포도', 104), ('바나나', 105)]

In [89]:
# update()를 이용해 기존의 딕셔너리 데이터에 새로운 딕셔너리 데이터를 추가
fruit_code2 = {"오렌지":106, "수박":107}
fruit_code.update(fruit_code2)
fruit_code

{'사과': 101, '배': 102, '딸기': 103, '포도': 104, '바나나': 105, '오렌지': 106, '수박': 107}

In [90]:
# clear() 메서드는 딕셔너리의 모든 항목을 삭제
fruit_code2.clear()
print(fruit_code2)
type(fruit_code2)

{}

dict